# ===== TELEGRAM =====
BOT_TOKEN=
MODERATOR_CHAT_ID=

# === Почта для логов ===
LOGS_SENDER_EMAIL=
LOGS_SENDER_PASSWORD=
LOGS_RECIPIENT_EMAIL=
LOGS_SEND_TIME=
LOGS_SEND_ON_START=

# ===== DATABASE (для docker-compose) =====
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_HOST=       
DB_PORT=

# ===== DATABASE (для приложения) =====
# Базовый формат для локальной разработки
DB_CREDENTIALS=postgresql+asyncpg://${DB_USER}:${DB_PASSWORD}@localhost:${DB_PORT}/${DB_NAME}
# В Docker будет переопределен через DB_CREDENTIALS_OVERRIDE

# ===== LOGGING =====
LOG_LEVEL=DEBUG
LOG_FORMAT='[{asctime}] #{levelname:8} {filename}:{lineno} - {name} - {message}'
LOG_PATH=/app/logs

# ===== YANDEX INTEGRATION =====
# Эти переменные будут переданы в Go-бинарник через его .env или аргументы (.env должно храниться в upload_script)
YANDEX_API_KEY=
DB_CREDENTIALS ="postgres://${DB_USER}:${DB_PASSWORD}@localhost:${DB_PORT}/${DB_NAME}?sslmode=disable"